# Created by .ignore support plugin (hsz.mobi)
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/tasks/_lib_bind_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_lib_bind_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_lib_bind_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_lib_bind_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_lib_bind_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_lib_bind_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
